version: "2"
services:
  node-app:
    build:
      context: .
      args:
        NODE_ENV: development
    volumes:
      - ./:/app
      - /app/node_modules    
    env_file:
      - ./.env
    command: npm run start